body {
  background-color: rgb(0, 0, 0);
  font: 400 0.938em/1.38 Muli;
  color: rgb(255, 255, 255);
}

.about {
  position: relative;
  float: left;
  z-index: 17;
  width: 80%;
  height: 852px;
  margin: -2322px 0 0 10%;
}

.about .element {
  clear: both;
  z-index: 14;
  height: 428px;
  margin-top: -257px;
  background-image: url('../images/SadSam.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.about .text {
  clear: both;
  z-index: 16;
  min-height: 313px;
  margin-top: -252px;
  background-color: rgb(0, 0, 0);
  font-size: 1.067em;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.about .title {
  width: 100%;
  min-height: 313px;
  background-color: rgb(0, 0, 0);
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 999px;
  margin: 0 auto;
  background: url('../images/banner.jpg') rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  position: relative;
  float: left;
  z-index: 2;
  width: 80%;
  height: 1244px;
  margin: -1350px 0 0 10%;
  background-color: rgb(0, 0, 0);
}

.discord {
  position: relative;
  float: left;
  z-index: 24;
  width: 25.5833333333%;
  height: 334px;
  margin: -1060px 0 0 63.59896%;
}

.discord .element {
  z-index: 20;
  height: 334px;
}

.discord .logo {
  z-index: 21;
  width: 59.6091205211%;
  height: 135px;
  margin: -334px 0 0 20.25143%;
  background-image: url('../images/discord.png');
  background-size: auto auto;
}

.discord .text {
  z-index: 23;
}

.discord .title {
  z-index: 22;
  width: 53.1555374592%;
  min-height: 50px;
  margin: -199px 0 0 23.37643%;
  font-size: 1.733em;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.discord-link {
  display: block;
  position: relative;
  float: left;
  z-index: 52;
  width: 25.5833333333%;
  height: 334px;
  margin: -1060px 0 0 63.58203%;
  border-radius: 3px;
  font-size: 1.067em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.divider {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 100%;
  height: 25px;
  background-color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.ig-link {
  display: block;
  position: relative;
  float: left;
  z-index: 55;
  width: 25.5833333333%;
  height: 334px;
  margin: -687px 0 0 63.59896%;
  border-radius: 3px;
  font-size: 1.067em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.discord-link:hover,
.ig-link:hover,
.patreon-link:hover,
.twitch-link:hover,
.twitter-link:hover,
.yt-link:hover {
  background-color: rgba(124, 124, 124, 0.25);
  color: rgb(0, 0, 0);
}

.instagram {
  position: relative;
  float: left;
  z-index: 49;
  width: 25.5833333333%;
  height: 334px;
  margin: -687px 0 0 63.59896%;
}

.instagram .element {
  z-index: 45;
  height: 334px;
}

.instagram .logo {
  z-index: 46;
  width: 59.6091205211%;
  height: 135px;
  margin: -334px 0 0 20.25143%;
  background-image: url('../images/instagram_new.png');
  background-size: auto auto;
}

.instagram .text {
  z-index: 48;
}

.instagram .title {
  z-index: 47;
  width: 53.1555374592%;
  min-height: 50px;
  margin: -199px 0 0 23.37643%;
  font-size: 1.733em;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.intro {
  position: relative;
  float: left;
  clear: both;
  z-index: 11;
  width: 80%;
  height: 937px;
  margin: -3451px 0 0 10%;
}

.intro .logo {
  z-index: 10;
  width: 100%;
  height: 229px;
  margin-top: -40px;
  background-image: url('../images/logo-new(2).png');
  background-size: contain;
  background-color: rgb(0, 0, 0);
}

.intro .text {
  clear: both;
  z-index: 9;
  min-height: 313px;
  margin-top: -218px;
  background-color: rgb(0, 0, 0);
  font-size: 1.133em;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.intro .title {
  width: 100%;
  min-height: 313px;
  font-family: 'News Cycle';
  color: rgb(0, 0, 0);
}

.logo {
  position: relative;
  float: left;
  clear: both;
  background-repeat: no-repeat;
  background-position: center center;
}

.menue {
  position: fixed;
  top: -56px;
  left: 0;
  right: 0;
  z-index: 62;
  width: 100%;
  height: 102px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.69);
  overflow: hidden;
}

.menue:hover {
  background-color: rgba(13, 13, 13, 0.69);
}

.patreon {
  position: relative;
  float: left;
  z-index: 39;
  width: 25.5833333333%;
  height: 334px;
  margin: -687px 0 0 37.16667%;
}

.patreon .element {
  z-index: 35;
  height: 334px;
}

.patreon .logo {
  z-index: 36;
  width: 59.6091205211%;
  height: 135px;
  margin: -334px 0 0 20.25143%;
  background-image: url('../images/patreon.png');
  background-size: auto auto;
}

.patreon .text {
  z-index: 38;
}

.patreon .title {
  z-index: 37;
  width: 53.1555374592%;
  min-height: 50px;
  margin: -199px 0 0 23.37643%;
  font-size: 1.733em;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.patreon-link {
  display: block;
  position: relative;
  float: left;
  z-index: 54;
  width: 25.6666666666%;
  height: 334px;
  margin: -687px 0 0 37.1992199999%;
  border-radius: 3px;
  font-size: 1.067em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.shadow {
  position: relative;
  float: left;
  z-index: 1;
  width: 80%;
  height: 3381px;
  margin: 980px 0 0 10%;
  box-shadow: 0 0 20px 10px rgb(0, 0, 0);
}

.spacer {
  position: relative;
  float: left;
  width: 80%;
  margin-left: 10%;
  background-color: rgb(0, 0, 0);
}

.text {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}

.text-1 p,
.text-2 p {
  margin-bottom: 1em;
}

.title {
  position: relative;
  float: left;
  text-align: center;
}

.twitch {
  position: relative;
  float: left;
  z-index: 44;
  width: 25.5833333333%;
  height: 334px;
  margin: -1060px 0 0 37.1992199999%;
}

.twitch .element {
  z-index: 40;
  height: 334px;
}

.twitch .logo {
  z-index: 41;
  width: 59.6091205211%;
  height: 135px;
  margin: -334px 0 0 20.25143%;
  background-image: url('../images/twitch.png');
  background-size: auto auto;
}

.twitch .text {
  z-index: 43;
}

.twitch .title {
  z-index: 42;
  width: 53.1555374592%;
  min-height: 50px;
  margin: -199px 0 0 23.37643%;
  font-size: 1.733em;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.twitch-link {
  display: block;
  position: relative;
  float: left;
  z-index: 51;
  width: 25.5833333333%;
  height: 334px;
  margin: -1060px 0 0 37.16667%;
  border-radius: 3px;
  font-size: 1.067em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.twitter {
  position: relative;
  float: left;
  z-index: 29;
  width: 25.5833333333%;
  height: 334px;
  margin: -687px 0 0 10.81641%;
}

.twitter .element {
  z-index: 25;
  height: 334px;
}

.twitter .logo {
  z-index: 26;
  width: 59.6091205211%;
  height: 135px;
  margin: -334px 0 0 20.25143%;
  background-image: url('../images/twitter.png');
  background-size: auto auto;
}

.twitter .text {
  z-index: 28;
}

.twitter .title {
  z-index: 27;
  width: 53.1555374592%;
  min-height: 50px;
  margin: -199px 0 0 23.37643%;
  font-size: 1.733em;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.twitter-link {
  display: block;
  position: relative;
  float: left;
  z-index: 53;
  width: 25.5833333333%;
  height: 334px;
  margin: -687px 0 0 10.83073%;
  border-radius: 3px;
  font-size: 1.067em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.youtube {
  position: relative;
  float: left;
  z-index: 34;
  width: 25.5833333333%;
  height: 334px;
  margin: -1060px 0 0 10.81641%;
}

.youtube .element {
  z-index: 30;
  height: 334px;
}

.youtube .logo {
  z-index: 31;
  width: 59.6091205211%;
  height: 135px;
  margin: -334px 0 0 20.25143%;
  background-image: url('../images/google_youtube.png');
  background-size: auto auto;
}

.youtube .text {
  z-index: 33;
}

.youtube .title {
  z-index: 32;
  width: 53.1555374592%;
  min-height: 50px;
  margin: -199px 0 0 23.37643%;
  font-size: 1.733em;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.yt-link {
  display: block;
  position: relative;
  float: left;
  z-index: 50;
  width: 25.5833333333%;
  height: 334px;
  margin: -1060px 0 0 10.83073%;
  border-radius: 3px;
  font-size: 1.067em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  border-radius: 3px;
  text-align: center;
}

._text {
  min-height: 149px;
  margin-top: -149px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.menue ._button {
  position: absolute;
  background-color: rgba(222, 222, 222, 0);
  font-family: Arial;
}

.spacer-1 {
  z-index: 4;
  height: 168px;
  margin-top: -2490px;
}

.spacer-2 {
  z-index: 18;
  height: 120px;
  margin-top: -1470px;
}

.title-1 {
  z-index: 5;
  margin-top: 69px;
  background-color: rgb(0, 0, 0);
  font-size: 1.733em;
  line-height: 3.48;
}

.title-2 {
  clear: both;
  z-index: 6;
  margin-top: -248px;
  background-color: rgb(0, 0, 0);
  font-size: 4.667em;
}

.title-3 {
  clear: both;
  z-index: 7;
  margin-top: -200px;
  font-size: 1.067em;
}

.title-4 {
  clear: both;
  z-index: 8;
  margin-top: -195px;
  background-color: rgb(0, 0, 0);
  font-size: 1.733em;
}

.title-5 {
  z-index: 13;
  font-family: 'News Cycle';
  font-size: 1.933em;
  color: rgb(0, 0, 0);
}

.title-6 {
  clear: both;
  z-index: 15;
  margin-top: -18px;
  font-size: 0.867em;
  font-weight: 300;
  line-height: 1.88;
}

.title-7 {
  z-index: 19;
  width: 80%;
  min-height: 313px;
  margin: -1238px 0 0 10%;
  background-color: rgb(0, 0, 0);
  font-family: 'News Cycle';
  font-size: 1.933em;
  color: rgb(0, 0, 0);
}

._button-7 {
  position: relative;
  float: left;
  z-index: 3;
  width: 5%;
  height: 51px;
  margin: -3485px 0 0 47.5%;
  background-image: url('../images/Down-Arrow.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
  font-family: Helvetica;
  font-size: 1.067em;
  color: rgb(0, 0, 0);
}

._button-7:hover {
  background-color: rgba(255, 255, 255, 0.19);
}

.menue ._button-1 {
  top: 57px;
  left: 76.4440734557%;
  z-index: 61;
  width: 8.5141903171%;
  height: 46px;
  font-size: 0.933em;
  color: rgb(193, 192, 192);
}

.menue ._button-2 {
  top: 56px;
  left: 91.2366965776%;
  z-index: 60;
  width: 8.8480801335%;
  height: 46px;
  font-size: 0.933em;
  color: rgb(193, 192, 192);
}

.menue ._button-3 {
  top: 57px;
  left: 64.4240400667%;
  z-index: 59;
  width: 5.9265442404%;
  height: 46px;
  font-size: 0.933em;
  color: rgb(193, 192, 192);
}

.menue ._button-1:hover,
.menue ._button-3:hover {
  background-color: rgba(124, 124, 124, 0.44);
  color: rgb(193, 192, 192);
}

.menue ._button-4 {
  top: 57px;
  left: 70.4340567612%;
  z-index: 58;
  width: 6.2604340567%;
  height: 46px;
  font-size: 0.933em;
  color: rgb(193, 192, 192);
}

.menue ._button-5 {
  top: 56px;
  left: 85.8109870617%;
  z-index: 57;
  width: 5.4257095158%;
  height: 46px;
  font-size: 0.933em;
  color: rgb(193, 192, 192);
}

.menue ._button-2:hover,
.menue ._button-4:hover,
.menue ._button-5:hover {
  background-color: rgba(124, 124, 124, 0.44);
}

.menue ._button-6 {
  top: 56px;
  left: 0;
  z-index: 56;
  width: 4.5075125208%;
  height: 47px;
  border-left: 4px solid rgb(0, 0, 0);
  background-image: url('../images/logo-new(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1.067em;
  color: rgb(0, 0, 0);
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 span {
  color: rgb(255, 255, 255);
}

.text-2 span {
  color: inherit;
}

.title span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: inherit;
  font-size: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.title-2 span,
.title-6 span {
  font-family: inherit;
  font-weight: inherit;
}

.title-1 span,
.title-3 span,
.title-4 span,
.title-5 span,
.title-7 span {
  font-weight: 300;
}

@media(max-width: 720px) {
  .about {
    position: relative;
    z-index: 17;
    width: 100%;
    margin-top: -2231px;
    margin-left: 0;
  }

  .about .divider {
    position: relative;
    z-index: 12;
  }

  .about .element {
    position: relative;
    z-index: 14;
    margin-top: -222px;
  }

  .about .text {
    position: relative;
    clear: none;
    z-index: 16;
    margin-top: 0;
  }

  .about .title {
    position: relative;
  }

  .banner {
    left: 0;
    right: 0;
    height: 632px;
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: -894px;
    margin-left: 0;
  }

  .discord {
    position: relative;
    z-index: 24;
    width: 25.5815972222%;
    height: 405px;
    margin-top: -589px;
    margin-left: 61.9987%;
  }

  .discord .element {
    position: relative;
    z-index: 20;
    width: 99.5608108108%;
  }

  .discord .logo {
    position: relative;
    z-index: 21;
    width: 52.8631756756%;
    margin-left: 20.24941%;
  }

  .discord .text {
    position: relative;
    z-index: 23;
    width: 99.5608108108%;
  }

  .discord .title {
    position: relative;
    z-index: 22;
    width: 52.9222972972%;
    margin-left: 23.37971%;
  }

  .discord-link {
    position: relative;
    z-index: 52;
    margin-left: 63.58073%;
  }

  .ig-link {
    position: relative;
    clear: both;
    z-index: 55;
    margin-top: -566px;
    margin-left: 63.59809%;
  }

  .instagram {
    position: relative;
    clear: both;
    z-index: 49;
    width: 25.5815972222%;
    height: 405px;
    margin-top: -566px;
    margin-left: 107.3329%;
  }

  .instagram .element {
    position: relative;
    z-index: 45;
    width: 99.5608108108%;
  }

  .instagram .logo {
    position: relative;
    z-index: 46;
    width: 52.8631756756%;
    margin-left: 20.24941%;
  }

  .instagram .text {
    position: relative;
    z-index: 48;
    width: 99.5608108108%;
  }

  .instagram .title {
    position: relative;
    z-index: 47;
    width: 52.9222972972%;
    margin-left: 23.35426%;
  }

  .intro {
    position: relative;
    z-index: 11;
    width: 100%;
    margin-top: -3225px;
    margin-left: 0;
  }

  .intro .logo {
    position: relative;
    z-index: 10;
    margin-top: -69px;
  }

  .intro .text {
    position: relative;
    z-index: 9;
    margin-top: -244px;
    color: rgba(0, 0, 0, 0);
  }

  .intro .title {
    position: relative;
  }

  .menue {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .patreon {
    position: relative;
    z-index: 39;
    width: 25.5815972222%;
    height: 405px;
    margin-top: -566px;
    margin-left: 61.9987%;
  }

  .patreon .element {
    position: relative;
    z-index: 35;
    width: 99.5608108108%;
  }

  .patreon .logo {
    position: relative;
    z-index: 36;
    width: 52.8631756756%;
    margin-left: 20.24941%;
  }

  .patreon .text {
    position: relative;
    z-index: 38;
    width: 99.5608108108%;
  }

  .patreon .title {
    position: relative;
    z-index: 37;
    width: 52.9222972972%;
    margin-left: 23.35426%;
  }

  .patreon-link {
    position: relative;
    z-index: 54;
    margin-left: 37.19618%;
  }

  .shadow {
    position: relative;
    z-index: 1;
    height: 3168px;
    margin-top: 722px;
  }

  .spacer {
    position: relative;
    width: 100%;
    margin-left: 0;
  }

  .title {
    position: relative;
    z-index: 19;
    width: 100%;
  }

  .twitch {
    position: relative;
    z-index: 44;
    width: 25.5815972222%;
    height: 405px;
    margin-top: -566px;
    margin-left: 16.66667%;
  }

  .twitch .element {
    position: relative;
    z-index: 40;
    width: 99.5608108108%;
  }

  .twitch .logo {
    position: relative;
    z-index: 41;
    width: 52.8631756756%;
    margin-left: 20.24941%;
  }

  .twitch .text {
    position: relative;
    clear: both;
    z-index: 43;
    width: 99.5608108108%;
    margin-left: -0.1018%;
  }

  .twitch .title {
    position: relative;
    z-index: 42;
    width: 52.9222972972%;
    margin-left: 23.35426%;
  }

  .twitch-link {
    position: relative;
    z-index: 51;
    margin-left: 37.1658%;
  }

  .twitter {
    position: relative;
    z-index: 29;
    width: 25.5815972222%;
    height: 405px;
    margin-top: -604px;
    margin-left: 64.44444%;
  }

  .twitter .element {
    position: relative;
    z-index: 25;
    width: 99.5608108108%;
  }

  .twitter .logo {
    position: relative;
    z-index: 26;
    width: 52.8631756756%;
    margin-left: 20.24941%;
  }

  .twitter .text {
    position: relative;
    clear: both;
    z-index: 28;
    width: 99.5608108108%;
    margin-left: -0.1018%;
  }

  .twitter .title {
    position: relative;
    z-index: 27;
    width: 52.9222972972%;
    margin-left: 23.16763%;
  }

  .twitter-link {
    position: relative;
    z-index: 53;
    margin-left: 10.82682%;
  }

  .youtube {
    position: relative;
    z-index: 34;
    width: 25.5815972222%;
    height: 405px;
    margin-top: -589px;
    margin-left: 16.66667%;
  }

  .youtube .element {
    position: relative;
    z-index: 30;
    width: 99.5608108108%;
  }

  .youtube .logo {
    position: relative;
    z-index: 31;
    width: 52.8631756756%;
    margin-left: 20.24941%;
  }

  .youtube .text {
    position: relative;
    z-index: 33;
    width: 99.5608108108%;
  }

  .youtube .title {
    position: relative;
    z-index: 32;
    width: 52.9222972972%;
    margin-left: 23.35426%;
  }

  .yt-link {
    position: relative;
    z-index: 50;
    margin-left: 10.82682%;
  }

  ._button {
    position: relative;
    z-index: 3;
  }

  .about .title-5 {
    z-index: 13;
  }

  .about .title-6 {
    z-index: 15;
    margin-top: -457px;
  }

  .intro .title-1 {
    z-index: 5;
  }

  .intro .title-2 {
    z-index: 6;
  }

  .intro .title-3 {
    z-index: 7;
    margin-top: -184px;
    font-size: 1.133em;
  }

  .intro .title-4 {
    z-index: 8;
    margin-top: -166px;
  }

  .spacer-1 {
    z-index: 4;
    margin-top: -2288px;
  }

  .spacer-2 {
    z-index: 18;
    margin-top: -1397px;
  }

  .title-7 {
    clear: both;
    margin-top: -1242px;
    margin-left: 0;
  }

  ._button-7 {
    margin-top: -3283px;
  }

  .menue ._button-1 {
    top: 56px;
    left: 65.1085141903%;
    width: 10.8635097493%;
  }

  .menue ._button-2 {
    top: 55px;
    left: 85.7938718662%;
    width: 14.3454038997%;
  }

  .menue ._button-3 {
    left: 52.774373259%;
    width: 10.8635097493%;
  }

  .menue ._button-4 {
    left: 64.4401114206%;
    width: 10.0278551532%;
  }

  .menue ._button-5 {
    top: 57px;
    left: 76.4735376044%;
  }
}