body {
  background-color: rgb(0, 0, 0);
  font: 300 17px/1.38 Roboto;
  color: rgb(255, 255, 255);
}

.background {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 79.9166666666%;
  height: 2285px;
  margin: -940px 0 0 10%;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 -3px 30px 10px rgba(0, 0, 0, 0.9);
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 968px;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  overflow: hidden;
}

.image {
  display: block;
  position: relative;
  float: left;
  z-index: 11;
  width: 797px;
  height: auto;
  margin: -1121px 0 0 16.79948%;
  overflow: hidden;
}

.intro {
  position: relative;
  float: left;
  z-index: 9;
  width: 80%;
  height: 941px;
  margin: 989px 0 0 9.91667%;
}

.intro .title {
  width: 33.9990234375%;
}

.logo {
  display: block;
  position: absolute;
  top: 648px;
  left: 0;
  right: 0;
  z-index: 7;
  width: 232px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  display: block;
  position: absolute;
  top: 835px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 6.1666666666%;
  height: 46px;
  margin: 0 auto;
  border-radius: 3px;
  background-image: url('../images/Down-Arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.main-title {
  float: left;
  clear: both;
  width: 53.0208333333%;
  min-height: 109px;
  margin-left: 23.60352%;
  font-size: 65px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.plebcode {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 53.1656901041%;
  min-height: 343px;
  margin: 10px 0 0 23.60352%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.plebcode p {
  margin-bottom: 1em;
}

.subtitle {
  position: relative;
  float: left;
  z-index: 12;
  width: 39.25%;
  min-height: 28px;
  margin: -690px 0 0 30.33073%;
  font-size: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text {
  float: left;
  clear: both;
  width: 32.0817057291%;
  min-height: 28px;
  margin-left: 34.10319%;
  font-size: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.title {
  float: left;
  min-height: 79px;
  line-height: 2.68;
  text-align: center;
  color: rgb(255, 255, 255);
}

.wrapper {
  position: relative;
  float: left;
  z-index: 13;
  width: 79.9166666666%;
  height: 517px;
  margin: -596px 0 0 10%;
  overflow: hidden;
}

.title-1 {
  margin-left: 33.1005899999%;
  font-size: 27px;
  font-weight: 100;
}

.title-2 {
  clear: both;
  margin: 78px 0 0 33.1005859375%;
  font-size: 28px;
}

.title-3 {
  position: relative;
  clear: both;
  z-index: 10;
  width: 27.19921875%;
  margin: -1208px 0 0 36.39974%;
  font-size: 29px;
}