body {
  background-color: rgb(0, 0, 0);
  font: 300 1.063em/1.38 Muli;
  color: rgb(0, 0, 0);
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 992px;
  margin: 0 auto;
  background-image: url('../images/pleb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  position: relative;
  float: left;
  z-index: 2;
  width: 80%;
  height: 2346px;
  margin: -2346px 0 0 10%;
  background-color: rgb(0, 0, 0);
}

.menue {
  position: fixed;
  top: -54px;
  left: 0;
  right: 0;
  z-index: 11;
  width: 100%;
  height: 102px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.69);
  overflow: hidden;
}

.menue:hover {
  background-color: rgba(13, 13, 13, 0.69);
}

.shadow {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 80%;
  height: 2838px;
  margin: 68px 0 0 10%;
  box-shadow: 0 0 20px 10px rgb(0, 0, 0);
}

.text {
  position: relative;
  float: left;
  z-index: 5;
  width: 80%;
  min-height: 313px;
  margin: -2659px 0 0 10%;
  background-color: rgb(0, 0, 0);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text p {
  margin-bottom: 1em;
}

.title {
  position: relative;
  float: left;
  width: 80%;
  min-height: 313px;
  margin-left: 10%;
  background-color: rgb(0, 0, 0);
  font-family: 'News Cycle';
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.video1 {
  display: block;
  position: relative;
  float: left;
  z-index: 13;
  width: 960px;
  height: 893px;
  margin: -2276px 0 0 10%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.wrapper {
  position: relative;
  float: left;
  z-index: 15;
  width: 80%;
  height: 893px;
  margin: -1211px 0 0 10%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

._button {
  display: block;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
}

.menue ._button {
  position: absolute;
  top: 56px;
  background-color: rgba(222, 222, 222, 0);
  font-family: Arial;
}

.title-1 {
  clear: both;
  z-index: 3;
  margin-top: -2838px;
  font-size: 1.529em;
}

.title-2 {
  z-index: 4;
  margin-top: -2793px;
  font-size: 3.588em;
}

.title-3 {
  z-index: 12;
  margin-top: -2338px;
  font-size: 1.941em;
}

.title-4 {
  z-index: 14;
  margin-top: -1279px;
  font-size: 1.941em;
}

._button-6 {
  position: relative;
  float: left;
  z-index: 16;
  width: 5%;
  height: 51px;
  margin: 883px 0 0 47.58203%;
  background-image: url('../images/Down-Arrow.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
  font-family: Helvetica;
  font-size: 0.941em;
  color: rgb(0, 0, 0);
}

._button-6:hover {
  background-color: rgba(255, 255, 255, 0.19);
}

.menue ._button-1 {
  left: 91.2366965776%;
  z-index: 10;
  width: 8.8480801335%;
  height: 46px;
  font-size: 0.824em;
  color: rgb(193, 192, 192);
}

.menue ._button-2 {
  left: 73.6240087646%;
  z-index: 9;
  width: 5.9265442404%;
  height: 46px;
  font-size: 0.824em;
  color: rgb(193, 192, 192);
}

.menue ._button-2:hover {
  background-color: rgba(124, 124, 124, 0.44);
  color: rgb(193, 192, 192);
}

.menue ._button-3 {
  left: 79.550553005%;
  z-index: 8;
  width: 6.2604340567%;
  height: 46px;
  font-size: 0.824em;
  color: rgb(193, 192, 192);
}

.menue ._button-4 {
  left: 85.8109870617%;
  z-index: 7;
  width: 5.4257095158%;
  height: 46px;
  font-size: 0.824em;
  color: rgb(193, 192, 192);
}

.menue ._button-1:hover,
.menue ._button-3:hover,
.menue ._button-4:hover {
  background-color: rgba(124, 124, 124, 0.44);
}

.menue ._button-5 {
  left: 0;
  z-index: 6;
  width: 4.5075125208%;
  height: 47px;
  border-left: 4px solid rgb(0, 0, 0);
  background-image: url('../images/logo-new(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.941em;
  color: rgb(0, 0, 0);
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.title span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: inherit;
  font-size: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.title-2 span {
  font-family: inherit;
  font-weight: inherit;
}

@media(max-width: 720px) {
  .banner {
    right: auto;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .menue {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .shadow {
    position: relative;
    z-index: 1;
    height: 3168px;
    margin-top: -1121px;
    margin-left: 20.4145%;
  }

  .text {
    position: relative;
    z-index: 5;
    margin-top: -1800px;
    margin-left: 16.66667%;
    color: rgba(0, 0, 0, 0);
  }

  .title {
    position: relative;
    margin-left: 16.66667%;
  }

  .video1 {
    position: relative;
    clear: both;
    z-index: 13;
  }

  .wrapper {
    position: relative;
    z-index: 15;
  }

  ._button {
    position: relative;
    z-index: 16;
  }

  .title-1 {
    z-index: 3;
    margin-top: -1776px;
  }

  .title-2 {
    z-index: 4;
    margin-top: -1695px;
  }

  .title-3 {
    z-index: 12;
    margin-top: -1635px;
  }

  .title-4 {
    z-index: 14;
  }

  ._button-6 {
    margin-left: 79.3033899999%;
  }

  .menue ._button-1 {
    top: 55px;
    left: 85.7938718662%;
    width: 14.3454038997%;
  }

  .menue ._button-2 {
    top: 57px;
    left: 52.774373259%;
    width: 10.8635097493%;
  }

  .menue ._button-3 {
    top: 57px;
    left: 64.4401114206%;
    width: 10.0278551532%;
  }

  .menue ._button-4 {
    top: 57px;
    left: 76.4735376044%;
  }
}